body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to left top, yellow, lightblue, yellow);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
h1{
    color: darkcyan;
    font-weight: bold;
    letter-spacing: 5px;
}
.container{
    background: rgba(255,255,255,0.3);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
    border-radius: 10px;
    width: 85%;
    max-width: 450px;

}

.container .input-wrapper{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   color: darkcyan;
     margin-bottom: 18px;
 
}

input{
    width: 80%;
    padding: 10px;
     background: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.5);
    outline: none;
    border-radius: 10px;
    color: darkgreen;
    font-size: 18px;
}

p{
    color: darkcyan;
    font-size: 18px;
}
.container > p:nth-of-type(2){
    color: red;
}
